
#filtroMiembros {
    position: fixed;       /* o 'fixed' si quieres que se mantenga en pantalla al hacer scroll */
    top: 100px;                /* Altura de la barra de navegación */
    left: 0;
    padding: 8px 12px;        /* Espaciado interno opcional */
    color: white;
    border-radius: 4px;
    z-index: 1000;            /* Asegura que quede por encima de otros elementos */
}

.miembros-container {
    margin-top: 130px; /* Centrado horizontalmente con margen superior e inferior */
}

 .miembros-grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     grid-gap: 20px;
     padding: 20px;
 }

.miembro-link {
    text-decoration: none;
}

.miembro-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.miembro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #3498db;
}

.miembro-nombre {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.miembro-info {
    color: #666;
    margin-top: 5px;
    font-size: 0.9em;
    margin-bottom: 25px;
}

.page-title {
    text-align: center;
    margin: 20px 0;
    color: #2c3e50;
    font-size: 2em;
}

/* Botón de seguir */
.follow-btn {
    padding: 5px;
    text-decoration: none;
    background-color: #e50914;
    color: white;
    border: 0.5px solid #e50914;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.follow-btn:hover {
    background-color: #b80000;
}

/* Botón de DEJAR DE seguir */
.unfollow-btn {
    padding: 5px;
    text-decoration: none;
    background-color: white;
    color: red;
    border: 0.5px solid red;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.unfollow-btn:hover {
    background-color: #dddddd;
}