USE [Peliculas_TMDb]
GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[id_etiqueta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[id_usuario] [int] NOT NULL,
	[id_pelicula] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Generos]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Generos](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Historial_Visualizacion]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Visualizacion](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[fecha_vista] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Idiomas]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Idiomas](
	[id_idioma] [varchar](2) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK__Idiomas__0BA1525FA82899C5] PRIMARY KEY CLUSTERED 
(
	[id_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MiembroReparto]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MiembroReparto](
	[id_personaje] [int] NULL,
	[personaje] [varchar](50) NULL,
	[id_credencial] [varchar](50) NULL,
	[genero] [int] NULL,
	[id_miembro] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[order] [int] NULL,
 CONSTRAINT [PK_MiembroReparto] PRIMARY KEY CLUSTERED 
(
	[id_miembro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaisProduccion]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaisProduccion](
	[id_pais] [varchar](2) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PaisProduccion] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pelicula_Etiqueta]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula_Etiqueta](
	[id_pelicula] [int] NOT NULL,
	[id_etiqueta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC,
	[id_etiqueta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pelicula_Genero]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula_Genero](
	[id_pelicula] [int] NOT NULL,
	[id_genero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC,
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pelicula_Idioma]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pelicula_Idioma](
	[id_pelicula] [int] NOT NULL,
	[id_idioma] [varchar](2) NOT NULL,
 CONSTRAINT [PK__Pelicula__55BB6A68E237B706] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC,
	[id_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pelicula_MiembroReparto]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula_MiembroReparto](
	[id_pelicula] [int] NOT NULL,
	[id_miembro] [int] NOT NULL,
 CONSTRAINT [PK_Pelicula_MiembroReparto] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC,
	[id_miembro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pelicula_PaisProduccion]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pelicula_PaisProduccion](
	[id_pelicula] [int] NOT NULL,
	[id_pais] [varchar](2) NOT NULL,
 CONSTRAINT [PK_Pelicula_PaisProduccion] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC,
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pelicula_Personal]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula_Personal](
	[id_pelicula] [int] NOT NULL,
	[id_personal] [int] NOT NULL,
 CONSTRAINT [PK_Pelicula_Personal] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC,
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pelicula_Productora]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula_Productora](
	[id_pelicula] [int] NOT NULL,
	[id_productora] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC,
	[id_productora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Peliculas](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](255) NOT NULL,
	[fecha_estreno] [date] NULL,
	[presupuesto] [bigint] NULL,
	[ingresos] [bigint] NULL,
	[duracion] [int] NULL,
	[descripcion] [varchar](max) NULL,
	[enlace] [varchar](200) NULL,
	[idioma_original] [varchar](2) NULL,
	[popularidad] [float] NULL,
	[estatus] [varchar](50) NULL,
	[eslogan] [varchar](100) NULL,
	[titulo_original] [varchar](255) NULL,
	[media_votos] [float] NULL,
	[numero_votos] [int] NULL,
 CONSTRAINT [PK__Pelicula__B5017F4D85E7F229] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personal](
	[id_credencial] [varchar](50) NULL,
	[departamento] [varchar](50) NULL,
	[genero] [int] NULL,
	[id_personal] [int] NOT NULL,
	[trabajo] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Productoras]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productoras](
	[id_productora] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_productora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reseñas]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reseñas](
	[id_reseña] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_pelicula] [int] NULL,
	[calificacion] [float] NULL,
	[comentario] [varchar](max) NULL,
	[fecha_creacion] [datetime] NULL,
 CONSTRAINT [PK__Reseñas__06C98AE00A9C00CF] PRIMARY KEY CLUSTERED 
(
	[id_reseña] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/03/2025 18:25:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](100) NOT NULL,
	[correo_electronico] [varchar](255) NOT NULL,
	[contrasena_hash] [varchar](255) NOT NULL,
	[rol] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Historial_Visualizacion] ADD  DEFAULT (getdate()) FOR [fecha_vista]
GO
ALTER TABLE [dbo].[Reseñas] ADD  CONSTRAINT [DF__Reseñas__fecha_c__35BCFE0A]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('usuario') FOR [rol]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK__Favoritos__id_pe__3B75D760] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK__Favoritos__id_pe__3B75D760]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Historial_Visualizacion]  WITH CHECK ADD  CONSTRAINT [FK__Historial__id_pe__403A8C7D] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Historial_Visualizacion] CHECK CONSTRAINT [FK__Historial__id_pe__403A8C7D]
GO
ALTER TABLE [dbo].[Historial_Visualizacion]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Pelicula_Etiqueta]  WITH CHECK ADD FOREIGN KEY([id_etiqueta])
REFERENCES [dbo].[Etiquetas] ([id_etiqueta])
GO
ALTER TABLE [dbo].[Pelicula_Etiqueta]  WITH CHECK ADD  CONSTRAINT [FK__Pelicula___id_pe__45F365D3] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Pelicula_Etiqueta] CHECK CONSTRAINT [FK__Pelicula___id_pe__45F365D3]
GO
ALTER TABLE [dbo].[Pelicula_Genero]  WITH CHECK ADD FOREIGN KEY([id_genero])
REFERENCES [dbo].[Generos] ([id_genero])
GO
ALTER TABLE [dbo].[Pelicula_Genero]  WITH CHECK ADD  CONSTRAINT [FK__Pelicula___id_pe__145C0A3F] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Pelicula_Genero] CHECK CONSTRAINT [FK__Pelicula___id_pe__145C0A3F]
GO
ALTER TABLE [dbo].[Pelicula_Idioma]  WITH CHECK ADD  CONSTRAINT [FK__Pelicula___id_id__20C1E124] FOREIGN KEY([id_idioma])
REFERENCES [dbo].[Idiomas] ([id_idioma])
GO
ALTER TABLE [dbo].[Pelicula_Idioma] CHECK CONSTRAINT [FK__Pelicula___id_id__20C1E124]
GO
ALTER TABLE [dbo].[Pelicula_Idioma]  WITH CHECK ADD  CONSTRAINT [FK__Pelicula___id_pe__1FCDBCEB] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Pelicula_Idioma] CHECK CONSTRAINT [FK__Pelicula___id_pe__1FCDBCEB]
GO
ALTER TABLE [dbo].[Pelicula_MiembroReparto]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_MiembroReparto_MiembroReparto] FOREIGN KEY([id_miembro])
REFERENCES [dbo].[MiembroReparto] ([id_miembro])
GO
ALTER TABLE [dbo].[Pelicula_MiembroReparto] CHECK CONSTRAINT [FK_Pelicula_MiembroReparto_MiembroReparto]
GO
ALTER TABLE [dbo].[Pelicula_MiembroReparto]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_MiembroReparto_Peliculas] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Pelicula_MiembroReparto] CHECK CONSTRAINT [FK_Pelicula_MiembroReparto_Peliculas]
GO
ALTER TABLE [dbo].[Pelicula_PaisProduccion]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_PaisProduccion_PaisProduccion] FOREIGN KEY([id_pais])
REFERENCES [dbo].[PaisProduccion] ([id_pais])
GO
ALTER TABLE [dbo].[Pelicula_PaisProduccion] CHECK CONSTRAINT [FK_Pelicula_PaisProduccion_PaisProduccion]
GO
ALTER TABLE [dbo].[Pelicula_PaisProduccion]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_PaisProduccion_Peliculas] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Pelicula_PaisProduccion] CHECK CONSTRAINT [FK_Pelicula_PaisProduccion_Peliculas]
GO
ALTER TABLE [dbo].[Pelicula_Personal]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_Personal_Peliculas] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Pelicula_Personal] CHECK CONSTRAINT [FK_Pelicula_Personal_Peliculas]
GO
ALTER TABLE [dbo].[Pelicula_Personal]  WITH CHECK ADD  CONSTRAINT [FK_Pelicula_Personal_Personal] FOREIGN KEY([id_personal])
REFERENCES [dbo].[Personal] ([id_personal])
GO
ALTER TABLE [dbo].[Pelicula_Personal] CHECK CONSTRAINT [FK_Pelicula_Personal_Personal]
GO
ALTER TABLE [dbo].[Pelicula_Productora]  WITH CHECK ADD  CONSTRAINT [FK__Pelicula___id_pe__1A14E395] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Pelicula_Productora] CHECK CONSTRAINT [FK__Pelicula___id_pe__1A14E395]
GO
ALTER TABLE [dbo].[Pelicula_Productora]  WITH CHECK ADD FOREIGN KEY([id_productora])
REFERENCES [dbo].[Productoras] ([id_productora])
GO
ALTER TABLE [dbo].[Peliculas]  WITH CHECK ADD  CONSTRAINT [FK_Peliculas_Idioma_Original] FOREIGN KEY([idioma_original])
REFERENCES [dbo].[Idiomas] ([id_idioma])
GO
ALTER TABLE [dbo].[Peliculas] CHECK CONSTRAINT [FK_Peliculas_Idioma_Original]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK__Reseñas__id_peli__37A5467C] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[Peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK__Reseñas__id_peli__37A5467C]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [FK__Reseñas__id_usua__36B12243] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [FK__Reseñas__id_usua__36B12243]
GO
ALTER TABLE [dbo].[Reseñas]  WITH CHECK ADD  CONSTRAINT [CK__Reseñas__calific__34C8D9D1] CHECK  (([calificacion]>=(0) AND [calificacion]<=(10)))
GO
ALTER TABLE [dbo].[Reseñas] CHECK CONSTRAINT [CK__Reseñas__calific__34C8D9D1]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([rol]='usuario' OR [rol]='admin'))
GO
